/*
for images in url use relative path from icon set folder, e.g. stylesheet/down_arrow.png

Roles: http://doc.qt.io/qt-5.7/qpalette.html
CSS:   http://doc.qt.io/qt-5/stylesheet-reference.html

Theme 
	dark
	light

ColorGroups
	all (for all states)
	normal (only for active state)
	active (only for active state)
	inactive (only for inactive state)
	disabled (only for disabled state)

ColorRoles
	alternate-base 		= QPalette::AlternateBase;
	background 		= QPalette::Background;
	base 			= QPalette::Base;
	bright-text 		= QPalette::BrightText;
	button 			= QPalette::Button;
	button-text 		= QPalette::ButtonText;
	dark 			= QPalette::Dark;
	foreground 		= QPalette::Foreground;
	highlight 		= QPalette::Highlight;
	highlighted-text 	= QPalette::HighlightedText;
	light			= QPalette::Light;
	link 			= QPalette::Link;
	link-visited 		= QPalette::LinkVisited;
	mid 			= QPalette::Mid;
	midlight 		= QPalette::Midlight;
	shadow 			= QPalette::Shadow;
	text 			= QPalette::Text;
	tooltip-base 		= QPalette::ToolTipBase;
	tooltip-text 		= QPalette::ToolTipText;
	window 			= QPalette::Window;
	window-text 		= QPalette::WindowText;

ColorFormat
	rgb(255,255,255);
	rgba(255,255,255,100);
	hsv(360,100,100);
	hsva(360,100,100,100);

*/
Palette::dark {
	[all]		alternate-base:		rgb(65,65,65);
	[all]		background:		rgb(70,70,70);
	[all]		base:			rgb(46,46,46);
	[all]		bright-text:		rgb(204,204,204);
	[disabled]	bright-text: 		rgb(128,128,128);
	[all]		button:			rgb(85,85,85);
	[all]		button-text:		rgb(204,204,204);
	[disabled]	button-text: 		rgb(128,128,128);
	[all]		dark:			rgb(55,55,55);
	[all]		highlight:		rgb(0,150,255);
	[all]		highlighted-text:	rgb(34,34,34);
	[all]		link:			rgb(42,130,218);
	[all]		light:			rgb(95,95,95);
	[all]		link:			rgb(42,130,218);
	[all]		mid:			rgb(63,63,63);
	[all]		midlight:		rgb(80,80,80);
	[all]		shadow:			rgb(0,0,0);
	[all]		text:			rgb(204,204,204);
	[disabled]	text: 			rgb(128,128,128);
	[all]		tooltip-base:		rgb(65,65,65);
	[all]		tooltip-text:		rgb(204,204,204);
	[all]		window:			rgb(70,70,70);
	[all]		window-text: 		rgb(204,204,204);
	[disabled]	window-text: 		rgb(128,128,128);
}

/* Custom Elements */

ScToolBar QToolButton::menu-indicator {image: url(stylesheet/down_arrow.png);}

IndigoDock QScrollBar:vertical,
IndigoPanel QScrollBar:vertical {width: 10px;}

IndigoDock QScrollBar:horizontal,
IndigoPanel QScrollBar:horizontal {height: 10px;}

SEditor,
QTextEdit#outputEdit,
QTextEdit#commandEdit {
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
}

QLabel#OldC,
QLabel#NewC {
    border: 1px solid rgb(39,39,39);
}

GradientPreview {
    border: 0px solid transparent;
}

QWidget#IndigoDropZone {background-color: palette(base);}
QWidget#IndigoPanelGrip {background-color: palette(window);}

/* ColorListBox */

ColorListBox {
    background-color: rgb(128,128,128);
    border: 1px solid rgb(39,39,39);
}

ColorListBox::item{
    outline: none;
    color: palette(window-text);
    background-color: palette(light);
}


/* QMdiArea */

QMdiArea QTabBar::tab:selected {
    margin-left: 0px;
    margin-right: 0px;
}


/* QStatusBar */

QStatusBar::item{border: 0px transparent;}
QStatusBar {background-color: palette(window);}
QStatusBar QPushButton {
    border: 1px solid transparent;
    background-color: transparent;
}

/* QCheckBox */

QCheckBox:disabled {
    color: rgb(128,128,128);
}

QCheckBox::indicator {
    border: 1px solid rgb(39,39,39);
    background-color: palette(base);
    border-radius: 2px;
    width: 12px;
    height: 12px;
    outline: none;
    margin-top: 1px;
}

QCheckBox::indicator:checked {
    image: url(ok.png);
}

QCheckBox::indicator:indeterminate {
    background-color: palette(window-text);
}


/* QRadioButton */

QRadioButton:disabled {
    color: rgb(128,128,128);
}

QRadioButton::indicator {
    border: 1px solid rgb(39,39,39);
    background-color: palette(base);
    border-radius: 5px;
    width: 10px;
    height: 10px;
    outline: none;
    margin-top: 3px;
}

QRadioButton::indicator:checked {
    background-color: palette(window-text);
}


/* QGroupBox */

QGroupBox {
    border:0px transparent;
    border-radius: 2px;
    margin-top: 30px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}


/* QToolBar */

QToolBar {
    spacing: 3px;
    background-color: palette(window);
    padding:3px;
    border: 0px solid transparent;
}

QToolBar QToolButton,
IndigoPanel QToolButton {
    background-color: transparent;
    border: 1px solid transparent;
    color: palette(button-text);
    outline: none;
}

/* QPushButton + QToolButton*/

QToolButton {
    background-color: palette(button);
    border: 1px solid rgb(39,39,39);
    color: palette(button-text);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
    outline: none;
}

QPushButton {
    height: 16px;
    color: palette(button-text);
    background-color: palette(button);
    border: 1px solid rgb(39,39,39);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    outline: none;
}

QToolButton:disabled,
QPushButton:disabled {
    background-color: palette(transparent);
    color: rgb(128,128,128);
}

QPushButton:focus,
QPushButton:hover,
QToolButton:focus,
QToolButton:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(light), stop:1 palette(button) );
    border: 1px solid rgb(39,39,39);
}

QPushButton:focus,
QToolButton:focus {
    border-color: palette(highlight);
}



QPushButton:pressed,
QToolButton:pressed {
    background-color: palette(button);
    padding-top: -15px;
    padding-bottom: -17px;
}


/*QComboBox*/

QComboBox {
    height: 16px;
    color: palette(button-text);
    background-color: palette(button);
    border-width: 1px;
    border-color: rgb(39,39,39);
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    outline: none;
}

QComboBox:editable {background-color: palette(base);}

QComboBox:!editable,
QComboBox::drop-down:editable,
QComboBox::drop-down:pressed {background-color: palette(button);}

QComboBox:!editable:on,
QComboBox:!editable:hover,
QComboBox:!editable:focus,
QComboBox::drop-down:hover,
QComboBox::drop-down:focus,
QComboBox::drop-down:editable:on,
QComboBox::drop-down:editable:hover,
QComboBox::drop-down:editable:focus {background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(light), stop:1 palette(button) );}

QComboBox:!editable:focus,
QComboBox::drop-down:focus,
QComboBox::drop-down:editable:focus {
    border-color: palette(highlight);
}


QComboBox:disabled,
QComboBox:!editable:disabled,
QComboBox::drop-down:editable:disabled {
    background-color: transparent;
    color: rgb(128,128,128);
}

QComboBox:editable:disabled {
    background-color: transparent;
    color: rgb(128,128,128);
}

QToolButton::menu-button,
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    outline: none;
    width: 16px;
    border-left-width: 1px;
    border-left-color: rgb(39,39,39);
    border-left-style: solid;
    border-top-right-radius: 2px; 
    border-bottom-right-radius: 2px;
}

QToolButton::menu-arrow,
QComboBox::down-arrow {
    image: url(stylesheet/down_arrow.png);
    height: 16px;
}


/* QSpinBox */

QSpinBox,
QDoubleSpinBox {
    height: 16px;
    color: palette(button-text);
    background-color: palette(base);
    border-width: 1px;
    border-color: rgb(39,39,39);
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 16px;
    border-radius: 2px;
    outline: none;
}

QSpinBox:disabled,
QDoubleSpinBox:disabled {
    background-color: transparent;
    color: rgb(128,128,128);
}

QSpinBox::up-button,
QSpinBox::down-button,
QDoubleSpinBox::up-button,
QDoubleSpinBox::down-button{
    subcontrol-origin: padding;
    outline: none;
    width: 16px;
    color: palette(button-text);
    background-color: palette(button);

    border-left-width: 1px;
    border-left-color: rgb(39,39,39);
    border-left-style: solid;
}

QSpinBox::up-button:disabled,
QSpinBox::down-button:disabled,
QDoubleSpinBox::up-button:disabled,
QDoubleSpinBox::down-button:disabled{
    background-color: transparent;
    color: rgb(128,128,128);
}

QSpinBox::up-button:focus,
QSpinBox::up-button:hover,
QSpinBox::down-button:focus,
QSpinBox::down-button:hover,
QDoubleSpinBox::up-button:focus,
QDoubleSpinBox::up-button:hover,
QDoubleSpinBox::down-button:focus,
QDoubleSpinBox::down-button:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(light), stop:1 palette(button) );
}

QSpinBox:focus,
QDoubleSpinBox:focus {
    border-color: palette(highlight);
}

QSpinBox::up-button,
QDoubleSpinBox::up-button {
    subcontrol-position: top right; 
    border-top-right-radius: 2px; 
}

QSpinBox::up-arrow,
QDoubleSpinBox::up-arrow {
    image: url(stylesheet/up_arrow.png);
    width: 7px;
    height: 7px;
}

QSpinBox::down-button,
QDoubleSpinBox::down-button {
    subcontrol-position: bottom right;
    border-top-width: 1px;  
    border-bottom-right-radius: 2px;
}

QSpinBox::down-arrow,
QDoubleSpinBox::down-arrow {
    image: url(stylesheet/down_arrow.png);
    width: 7px;
    height: 7px;
}


/* QLineEdit */

QLineEdit {
    height: 16px;
    color: palette(window-text);
    background-color: palette(base);
    border-width: 1px;
    border-color: rgb(39,39,39);
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px; 
    padding-right: 6px;
    border-radius: 2px;
    outline: none;
    selection-background-color: palette(highlight);
    selection-color: rgb(39,39,39);
}

QLineEdit:disabled {
    background-color: transparent;
    color: rgb(128,128,128);
}

QLineEdit:focus{border-color:palette(highlight);}


/* QTabBar */

QTabBar::tab {
    background-color: palette(mid);
    border: 1px solid rgb(39,39,39);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    min-width: 8ex;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px; 
    padding-right: 6px;
    outline: none;
}

QTabBar::tab:disabled {
    background-color: transparent;
    color: rgb(128,128,128);
}

QTabBar::tab:selected,
QTabBar::tab:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(light), stop:1 palette(mid) );
    border-bottom-color: palette(mid);
}

QTabBar::tab:!selected {
    margin-top: 2px;
}

QTabBar::tab:selected {
    margin-left: -2px;
    margin-right: -2px;
}

QTabBar::tab:first:selected {
    margin-left: 0;
}

QTabBar::tab:last:selected {
    margin-right: 0;
}

QTabBar::tab:only-one {
    margin: 0;
}

QTabBar::scroller {
    width: 16px;
}

QTabBar QToolButton {
    color: palette(button-text);
    background-color: palette(mid);
    border: 1px solid rgb(39,39,39);
}

QTabBar QToolButton:hover,
QTabBar QToolButton:focus{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(light), stop:1 palette(button) );
}

QTabBar QToolButton:disabled {
    border: 1px solid rgb(39,39,39);
    background-color: palette(window);
    color: rgb(128,128,128);
}

QTabBar QToolButton::right-arrow {
    image: url(stylesheet/right_arrow.png);
}

QTabBar QToolButton::left-arrow {
    image: url(stylesheet/left_arrow.png);
}


/* QTabWidget */

QTabWidget::pane {
    border: 1px solid rgb(39,39,39);
    background-color: palette(mid);
    position: absolute;
    top: -1px;
    padding-top:2px;
}

QTabWidget::tab-bar {
    alignment: left;
}


/* QTooTip */

QToolTip {
    border: 1px solid rgb(39,39,39);
    color: palette(tooltip-text);
    background-color: palette(tooltip-base);
}


/* QListView */

QListView {
    background-color: palette(base);
    color: palette(window-text);
    border: 1px solid rgb(39,39,39);

}

QListView::item{
    outline: none;
    background-color: transparent;
    color: palette(text);
    border: 1px solid transparent;
}

QListView::item:selected:!active,
QListView::item:selected,
QListView::item:selected:active {
    border: 1px solid palette(highlight);
}

QListView::item:hover{
    background-color: palette(button);
}


/* QTreeWidget */

/*QTreeWidget {
    background-color: palette(window);
    color: palette(window-text);
    border: 1px solid rgb(39,39,39);

}*/


/* QMenuBar + QMenu */

QMenuBar {
    background-color: palette(window);
    border-top: 1px solid rgb(39,39,39);
    border-bottom: 1px solid rgb(39,39,39);
    padding:3px;
}

ScrPopupMenu,
QComboBox QAbstractItemView,
QMenu {
    background-color: palette(window);
    border: 1px solid rgb(39,39,39);
    selection-background-color: palette(button);
}

ScrPopupMenu,
QComboBox QAbstractItemView::item,
QMenu::item {
    background-color: transparent;
    color: palette(text);
    border: 1px solid transparent;
    padding: 3px;
    padding-left: 26px;
    padding-right: 20px;

}

ScrPopupMenu,
QComboBox QAbstractItemView::item:selected,
QMenuBar::item:disabled,
QMenu::item:disabled {
    color: rgb(128,128,128);
}

ScrPopupMenu,
QComboBox QAbstractItemView::item:selected,
QMenuBar::item:selected,
QMenu::item:selected {
    background-color: palette(button);
}

ScrPopupMenu,
QComboBox QAbstractItemView::item:selected,
QMenu::icon {
    padding: 3px;
}

ScrPopupMenu,
QComboBox QAbstractItemView::item:selected,
QMenu::right-arrow {
    padding: 3px;
    image: url(stylesheet/right_arrow.png);
}

ScrPopupMenu,
QComboBox QAbstractItemView::item:selected,
QMenu::separator {
    height: 1px;
    background: rgb(39,39,39);
    margin-left: 26px;
    margin-right: 20px;
}


/* QProgressBar */

QProgressBar {
    border: 1px solid rgb(39,39,39);
    border-radius: 2px;
    background-color: palette(base);
    padding-top: 2px;
    padding-bottom: 2px;
    height: 24px;
    color: rgb(0,0,0);
}

QProgressBar::chunk {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgb(0,179,255), stop:1 palette(highlight) );
    width: 10px;
}


/* QSlider */

QSlider::groove:horizontal {
    border: 1px solid rgb(39,39,39);
    height: 8px;
    background-color: palette(mid);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background-color: palette(button);
    border: 1px solid rgb(39,39,39);
    width: 18px;
    margin: -2px 0;
    border-radius: 2px;
}

QSlider::groove:vertical {
    border: 1px solid rgb(39,39,39);
    width: 8px;
    background-color: palette(mid);
    margin: 0 2px;
}

QSlider::handle:vertical {
    background-color: palette(button);
    border: 1px solid rgb(39,39,39);
    height: 18px;
    margin: 0 -2px;
    border-radius: 2px;
}

QSlider::groove:horizontal:disabled,
QSlider::groove:vertical:disabled {
    background-color: transparent;
}

QSlider::handle:vertical:disabled,
QSlider::handle:horizontal:disabled {
    background-color: palette(window);
}

QSlider::handle:horizontal:hover,
QSlider::handle:vertical:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(light), stop:1 palette(button) );
}


/* QScrollBar */

QScrollBar:horizontal {
    border: 1px solid rgb(39,39,39);
    background: palette(base);
    height: 15px;
    margin: 0px 16px 0 16px;
}

QScrollBar:vertical {
    border: 1px solid rgb(39,39,39);
    background: palette(base);
    width: 15px;
    margin: 16px 0 16px 0;
}

QScrollBar::handle:horizontal,
QScrollBar::handle:vertical {
    background: palette(button);
    outline: none;
}

QScrollBar::handle:horizontal {
    min-width: 20px;
    border: 0px solid transparent;
}

QScrollBar::handle:vertical {
    min-height: 20px;
    border: 0px solid transparent;
}

QScrollBar::handle:horizontal:hover,
QScrollBar::add-line:horizontal:hover,
QScrollBar::sub-line:horizontal:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(light), stop:1 palette(button) );
}

QScrollBar::handle:vertical:hover,
QScrollBar::add-line:vertical:hover,
QScrollBar::sub-line:vertical:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 palette(light), stop:1 palette(button) );
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    border: 1px solid palette(base);
    background: palette(button);
    width: 15px;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    border: 1px solid palette(base);
    background: palette(button);
    height: 15px;
    subcontrol-origin: margin;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

QScrollBar::add-line:vertical {
    subcontrol-position: bottom;
}

QScrollBar::sub-line:vertical {
    subcontrol-position: top;
}

QScrollBar::add-line:horizontal {
    subcontrol-position: right;
}

QScrollBar::sub-line:horizontal {
    subcontrol-position: left;
}

QScrollBar::left-arrow:horizontal,
QScrollBar::right-arrow:horizontal,
QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    width: 8px;
    height: 8px;
}

QScrollBar:left-arrow:horizontal {
    image: url(stylesheet/left_arrow.png);
}

QScrollBar::right-arrow:horizontal {
    image: url(stylesheet/right_arrow.png);
}

QScrollBar::up-arrow:vertical {
    image: url(stylesheet/up_arrow.png);
}

QScrollBar::down-arrow:vertical {
    image: url(stylesheet/down_arrow.png);
}

QScrollBar:vertical:disabled,
QScrollBar::add-line:vertical:disabled,
QScrollBar::sub-line:vertical:disabled,
QScrollBar::handle:vertical:disabled;
QScrollBar:horizontal:disabled,
QScrollBar::add-line:horizontal:disabled,
QScrollBar::sub-line:horizontal:disabled,
QScrollBar::handle:horizontal:disabled {
    background-color: palette(window);
}


/* QHeaderView */

QHeaderView::section {
    background-color: palette(window);
    color: palette(window-text);
    padding-left: 4px;
    border: 1px solid rgb(39,39,39);
}

QHeaderView::section:checked
{
    background-color: palette(highlight);
}

QHeaderView::down-arrow {
    image: url(stylesheet/down_arrow.png);
}

QHeaderView::up-arrow {
    image: url(stylesheet/up_arrow.png);
}


/* QTableView */

QTableView {
    border: 1px solid rgb(39,39,39);
    background-color: palette(base);
    color: palette(window-text);
    selection-background-color: palette(highlight);
}

