/*
for images in url use relative path from icon set folder, e.g. stylesheet/down_arrow.png
*/


/*

Roles: http://doc.qt.io/qt-4.8/qpalette.html
CSS:   http://doc.qt.io/qt-5/stylesheet-reference.html

Theme 
	dark
	light

ColorGroups
	all (for all states)
	normal (only for active state)
	active (only for active state)
	inactive (only for inactive state)
	disabled (only for disabled state)

ColorRoles
	alternate-base 		= QPalette::AlternateBase;
	background 		= QPalette::Background;
	base 			= QPalette::Base;
	bright-text 		= QPalette::BrightText;
	button 			= QPalette::Button;
	button-text 		= QPalette::ButtonText;
	dark 			= QPalette::Dark;
	foreground 		= QPalette::Foreground;
	highlight 		= QPalette::Highlight;
	highlighted-text 	= QPalette::HighlightedText;
	light			= QPalette::Light;
	link 			= QPalette::Link;
	link-visited 		= QPalette::LinkVisited;
	mid 			= QPalette::Mid;
	midlight 		= QPalette::Midlight;
	shadow 			= QPalette::Shadow;
	text 			= QPalette::Text;
	tooltip-base 		= QPalette::ToolTipBase;
	tooltip-text 		= QPalette::ToolTipText;
	window 			= QPalette::Window;
	window-text 		= QPalette::WindowText;

ColorFormat
	rgb(255,255,255);
	rgba(255,255,255,100);
	hsv(360,100,100);
	hsva(360,100,100,100);

*/
Palette::light {
	[all]		alternate-base:		rgb(192,192,192);
	[all]		base:			rgb(152,152,152);
	[all]		bright-text:		rgb(255,255,255);
	[all]		button:			rgb(225,225,225);
	[disabled]	button:			rgb(204,204,204);
	[all]		button-text:		rgb(34,34,34);
	[disabled]	button-text:		rgb(100,100,100);
	[all]		dark:			rgb(182,182,182);
	[all]		highlight:		rgb(42,130,218);
	[all]		highlighted-text:	rgb(255,255,255);
	[all]		light:			rgb(255,255,255);
	[all]		link:			rgb(42,130,218);
	[all]		mid:			rgb(195,195,195);
	[all]		midlight:		rgb(240,240,240);
	[all]		shadow:			rgb(34,34,34);
	[all]		text:			rgb(34,34,34);
	[disabled]	text:			rgb(83,83,83);
	[all]		tooltip-base:		rgb(204,204,204);
	[all]		tooltip-text:		rgb(34,34,34);
	[all]		window:			rgb(204,204,204);
	[all]		window-text: 		rgb(34,34,34);
}
/*Palette::dark {
	[all]		alternate-base:		rgb(53,53,53);
	[all]		base:			rgb(25,25,25);
	[all]		bright-text:		rgb(255,0,0);
	[all]		button:			rgb(53,53,53);
	[all]		button-text:		#ffffff;
	[disabled]	button-text:		#808080;
	[all]		highlight:		rgb(42,130,218);
	[all]		highlighted-text:	rgb(0,0,0);
	[all]		link:			rgb(42,130,218);
	[all]		shadow:			rgb(40,40,40);
	[all]		text:			#ffffff;
	[disabled]	text:			#808080;
	[all]		tooltip-base:		rgb(53,53,53);
	[all]		tooltip-text:		#ffffff;
	[all]		window:			rgb(53,53,53);
	[all]		window-text: 		#ffffff;
}*/

/* Regular QSS definitions */


ScToolBar QToolButton::menu-indicator { image: url(stylesheet/down_arrow.png); }

IndigoDock QScrollBar:vertical {width: 10px;}
IndigoDock QScrollBar:horizontal {height: 10px;}
IndigoPanel QScrollBar:vertical {width: 10px;}
IndigoPanel QScrollBar:horizontal {height: 10px;}

QWidget#IndigoDropZone {background: palette(base);}
QWidget#IndigoPanelGrip {background: palette(window);}

/* QStatusBar */
QStatusBar::item {
    border: 0px transparent;
 }




/* QPushButton */
QPushButton
{
    font-size:11pt;
    color: palette(text);
    background-color: palette(button);
    border-width: 1px;
    border-color: palette(dark);
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    outline: none;
}

QPushButton:disabled
{
    background-color: palette(window);
    border-color: palette(dark);    
    color: palette(text);
}

QPushButton:focus, QPushButton:hover {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(light), stop:1 palette(button) );
}

QPushButton:pressed
{
    background-color: palette(button);
    padding-top: -15px;
    padding-bottom: -17px;
}

/*QComboBox*/

QComboBox
{
    font-size:10pt;
    color: palette(text);
    background-color: palette(button);
    border-width: 1px;
    border-color: palette(dark);
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    outline: none;
}

QComboBox:editable {
    background-color: palette(light);
}

QComboBox:!editable, QComboBox::drop-down:editable {
     background-color: palette(button);
}

QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(light), stop:1 palette(button) );
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    outline: none;
    width: 16px;

    border-left-width: 1px;
    border-left-color: palette(dark);
    border-left-style: solid;
    border-top-right-radius: 2px; 
    border-bottom-right-radius: 2px;
}

QComboBox::drop-down:hover, QComboBox::drop-down:focus {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(light), stop:1 palette(button) );
}

QComboBox::drop-down:pressed {
    background-color: palette(button);
}

QComboBox::down-arrow {
    image: url(stylesheet/down_arrow.png);
    height: 16px;
}

/* QLineEdit */

QLineEdit
{
    font-size:10pt;
    color: palette(text);
    background-color: palette(light);
    border-width: 1px;
    border-color: palette(dark);
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    outline: none;
    selection-background-color: palette(highlight);
    selection-color: palette(light);
}

QLineEdit:disabled
{
    background-color: palette(mid);
    border-color: palette(dark);    
    color: palette(dark);
}

QLineEdit:focus
{
    border-color:palette(highlight);
}



